<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Cela</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: whitesmoke;">
		<a th:href="@{/cells}"><button type="button" class="btn btn-warning">Voltar</button></a>
        <h1 style="text-align: center;">Editar Cela</h1>

    <form class="form-mb-5" th:action="@{/cells/edit/{id}(id=${cell.cellId})}" th:object="${cell}" method="post">
        <div class="mb-3">
            <label for="cellName" class="form-label">Nome:</label>
            <input type="text" class="form-control" id="cellName" th:field="*{cellName}" required>
        </div>
        <div class="mb-3">
            <label for="maxPrisoners" class="form-label">Máximo de Prisioneiros:</label>
            <input type="text" class="form-control" id="maxPrisoners" th:field="*{maxPrisoners}" required>
        </div>
        <div style=" text-align: right;margin-right: 15%;"><button class="btn btn-primary" type="submit">Salvar</button></div>
    </form>

    <div style="text-align: right;margin-right: 15%;"><a class="btn btn-primary"  href="/prisoners">Voltar para a lista</a></div>
</body>
</html>
